@font-face {
  src: url("./fonts/garamond-light/OPTIGaramondSpecial-Light.otf");
  font-family: Garamond;
}

.bg {
  background-image: linear-gradient(to right, #232d36, #27323c);
}

.btn {
  padding: 5px 10px;
  margin: auto;
  color: #ffa500;
  background-color: transparent;
  text-transform: uppercase;
  border: 3px solid #ffa500;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 9px goldenrod;
}
.btn:hover {
  border-color: #ffa500 #ffa500 ghostwhite honeydew;
  color: #cccccc;
  transition: all 0.5s;
}
.btn:active {
  /* background-color: #1e9bff; */
  border-color: #ffa500 #ffa500 ghostwhite honeydew;
  transform: translateY(10px);
  color: #cccccc;
  box-shadow: none;
}

.font {
  font-family: Garamond;
  font-size: 22px;
  text-align: center;
  margin: auto;
}
.fontFamily {
  font-family: Garamond;
}

.flexible {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
}

.round {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: #cccccc;
}

.section2 {
  min-height: 93vh;
}

.active {
  background-color: black;
}

.img {
  width: 630px;
  height: 100%;
  margin-left: 15px;
}

.btnUl {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  margin: 15px auto 35px;
}

.prev-button,
.next-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.2s ease;
}

.prev-button:hover,
.next-button:hover {
  transform: scale(1.1);
}

.prev-button {
  margin-right: 20px; /* Adjust spacing as needed */
}

.next-button {
  margin-left: 20px; /* Adjust spacing as needed */
}

@media screen and (max-width: 500px) {
  .font {
    font-family: Garamond;
    font-size: 32px;
    width: 100%;
  }
  .img {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .btnUl {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px auto 35px;
    gap: 35px;
  }
  .section2Margin {
    margin-top: -55px;
  }
  .pMargin {
    margin-top: -470px;
  }
}
